<div [ngStyle]="{'width.px':width,'height.px':height}">
  <!--<Navbar [icon]="'left'" [mode]="'light'" (onLeftClick)="onLeftClick()" >注册</Navbar>-->
  <div class="content">
    <Flex class="logo-wrap">
      <FlexItem>
        <app-logo [logoSrc]="logoSrc" [textColor]="'#ffffff'">道路运输从业人员安全生产警示教育培训</app-logo>
      </FlexItem>
    </Flex>
    <div class="register-wrap">
      <nzm-wingblank class="input-list">
        <!--<form (submit)="onSubmit()" #userInfoForm="ngForm" [action]="formUrl">-->
        <nzm-whitespace></nzm-whitespace>
        <app-input-item [type]="'tel'" [iconType]="'icon-phone02'" [iName]="'telNum'"  [placeholder]="'请输入您的手机号'" #name></app-input-item>
        <app-verify-phone [type]="'number'" [iconType]="'icon-eyes'" [name]="'certNum'" [placeholder]="'请输入验证码'" [phoneNum]="name.inputValue"  #verify ></app-verify-phone>
        <app-input-item [type]="'password'" [iconType]="'icon-pwd02'" [iName]="'pwd'"  [placeholder]="'请输入您的密码'" [password]="true" #password></app-input-item>
        <app-input-item [type]="'text'" [iconType]="'icon-verified'" [iName]="'employmentCertificate'" [placeholder]="'请输入您的从业资格证号'" #certification></app-input-item>
        <app-select-input [type]="'text'" [iconType]="'icon-company'" [name]="'company'" [placeholder]="'请选择您所在的企业'" [inputValue]="selectedCompany" #company (onclick)="onOpenChange($event)"></app-select-input>
        <app-select-input [type]="'text'" [iconType]="'icon-userDetails'" [name]="'license'" [placeholder]="'准驾车型'" #license [inputValue]="selectedLicense" (onclick)="onOpenLicense($event)"></app-select-input>
        <!--</form>-->
        <nzm-whitespace></nzm-whitespace>
        <nzm-whitespace></nzm-whitespace>
        <nzm-wingblank>
          <nzm-button [size]="'big'" [type]="'primary'" [loading]="loading" (onClick)="registerAccount(name.inputValue,verify.inputValue,password.inputValue,certification.inputValue,company.inputValue,license.inputValue)">注册</nzm-button>
        </nzm-wingblank>
        <nzm-whitespace></nzm-whitespace>
      </nzm-wingblank>
    </div>
    <router-outlet routerLink="login" class="login-link clear" >
      <div class="pull-left icon-wrap">
        <Icon [type]="'left'"></Icon>
      </div>
      <p class="pull-left">立即登录</p></router-outlet>
  </div>
  <app-drawer  [isOpen]="state.open"   (onclick)="onOpenChange($event)">
    <List>
      <nzm-list-item (onClick)="showCounty()">
        <Brief>县区选择</Brief>
      </nzm-list-item>
      <nzm-list-item (onClick)="showCompany()">
        <Brief>企业选择</Brief>
      </nzm-list-item>
    </List>
  </app-drawer>
  <app-drawer  [isOpen]="licenseState.open" (onclick)="onOpenLicense($event)">
    <List>
      <nzm-list-item *ngFor="let item of licenseList" (onClick)="chooseDriving(item)">
        <Brief>{{item.drivingVehicleName}}</Brief>
      </nzm-list-item>
    </List>
  </app-drawer>
  <app-top-page [open]="companyState.open">
    <List>
      <nzm-list-item *ngFor="let item of companyList" (onClick)="chooseCompany(item)">
        <Brief>{{item.companyName}}</Brief>
      </nzm-list-item>
    </List>
  </app-top-page>
  <app-top-page [open]="countyState.open">
    <List>
      <nzm-list-item (onClick)="chooseThisItem()">
        <Brief>企业选择</Brief>
      </nzm-list-item>
    </List>
  </app-top-page>
</div>

